
*{
    margin: 0px;
    padding: 0px;
    background-color: #F5E2CE;
    scroll-behavior: smooth;
    font-family: "Domine", serif;
    
}

/*Start of Nav Bar CSS*/

#navBar{
    height: 80px;
    position: fixed;
    top: -50px; /* Hidden off-screen at first */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    transition: top 0.3s ease-in-out;
}

#navBar ul{
width: 600px;
display: flex;
justify-content: space-around;
align-items: center;
list-style-type: none;
background-color: #F5E2CE;

}

#navBar li a{
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    background-color: #F5E2CE;
    color: #B53324;
    margin-top: 20px;
    transform: scale(1);
    transition: font-size 0.3s ease-in-out, transform 0.2s ease-in-out;

    
}

#navBar li a:hover{
    font-size: 28px;
    text-decoration: underline;
    transform: scale(1.1);
    color:#691D15;
    
}

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    padding-left: 50px; /* 50px from the left */
    background-color: #F5E2CE;
    z-index: 1000;

    display: flex;
    justify-content: flex-end;

    opacity: 0;                 
    visibility: hidden;          
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; 
}



.dropbtn {
    background-color: #B53324;
    color: white;
    padding: 10px 16px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 50px;
}

/* Dropdown menu content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 120px;
    z-index: 1001;
}

.dropdown-content li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #B53324 !important;
}

.dropdown-content.show {
    display: block;
}

.dropbtn:hover {
    background-color: #992A1F;
}

/*End of Nav Bar CSS*/

/*Start of Hero Section CSS*/
.heroSection{
    max-width: 1500px;
    margin: auto;
    min-height: 800px;
    height: auto;
    
}



.heroSection h1 {
    font-size: 64px;
    position: relative;
    margin-top: 25%;
    margin-left: 20px;


    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1.3s ease-out forwards;
    animation-delay: 0.3s;

    color:#005799;
}



@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroSection ul {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1.2s ease-out forwards;
  animation-delay: 0.3s; 
  list-style: none; 
  padding: 0;
  margin: 20px;

}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.heroSection li{
    margin: 20px 0px;
}


.heroSection li a{
    text-decoration: none;
    color: #B53324;
    font-size: 26px;
    transform: scale(1);
    transition: font-size 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.heroSection li a:hover{
    font-size: 36px;
    text-decoration: underline;
    transform: scale(1.1);
    color:#691D15;
    
}
/*End of Hero Section CSS*/

/*Start of About Me Section CSS*/
#aboutMe{
    max-width: 1500px;
    margin: -80px auto;
    min-height: 700px;
    height: auto;
    padding-top: 80px;
    padding: 0 40px;
    scroll-margin-top: 80px;

}

#aboutMe h1{
    color:#005799;
    font-size: 36px;
    margin: 20px;

}

#aboutMe p{
    color: #000;
    font-size: 18px;
    margin: 20px;

}

/*End of About Me Section CSS*/


/*Start of Projects Section CSS*/
#portfolio{
    max-width: 1500px;
    margin: -80px auto;
    min-height: 100vh;
    height: auto;
    padding-top: 80px;
    padding: 0 40px;
    scroll-margin-top: 80px;

}

#portfolio h1{
    color:#005799;
    font-size: 36px;
    margin: 20px;

}

#portfolio a:visited{
    color: inherit;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;          
  justify-content: center;  
  gap: 2rem;               
}

.project-card {
  flex: 1 1 calc(33.333% - 2rem);
  max-width: 320px;               
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-8px) translateX(3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.project-card img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-info{
    padding: 10px;
}
.project-info h2{
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    font-size: 20px;
}

.project-info p{
    margin: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
}

.tech-stack{
    min-height: 70px;
}

.tech-stack span {
  display: inline-block;
  padding: 5px;
  margin: 5px 0px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #eee;
}

.project-links{
    margin: 20px 0px;
}

.project-links a {
  font-weight: bold;
  color:#B53324 !important;
  text-decoration: none;
  margin-right: 20px;
  padding: 4px;
}

.project-links a:visited{
    color:#B53324 !important
}

.project-links a:hover{
    color:#691D15 !important
}

@media (max-width: 900px) {
  .project-card {
    flex: 1 1 calc(45% - 2rem);
    margin: 5px;
  }
}
@media (max-width: 600px) {
  .project-card {
    flex: 1 1 100%;
  }
}


/*End of Projects Section CSS*/


/*Start of Resume Section CSS*/
#resume{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    min-height: 100vh;
    height: auto;
    padding-top: 80px;
    padding: 0 40px;
    scroll-margin-top: 80px;

}



/*End of Resume Section CSS*/
#resume h1{
    color:#005799;
    font-size: 36px;
    margin: 20px;

}

#resume h2{
    color:#005799;
    margin: 20px;
}

#resume h3{
    font-size: 14px;
}

#resume h4{
    font-size: 20px;
}

#resume{
    color: #000;
}

#resume a{
    color: inherit;
}

.jobs{
    margin: 20px 40px;
}
.jobs li{
    margin-left: 20px;
}

.jobs a{
    color: #B53324 !important;
}

.jobs a:hover{
    color: #691D15 !important;
}

.school{
    margin: 20px 40px;
}

#resume_education h3{
    font-size: 20px;
}

#webPortfolio{
    color: #000 !important;
    font-size: 20px;
}


/*Start of Contact Page CSS*/

#contact{
    max-width: 1500px;
    margin: -100px auto;
    min-height: 80vh;
    height: auto;
    padding-top: 200px;
    padding-right: 50px;
    padding-left: 50px;
    scroll-margin-top: 80px;
    
}
#contactContainer{
    
    width: 700px;
    min-height: 300px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 7px 5px 5px 10px rgba(179,179,179,0.75);
    border: none;
    overflow: hidden;
    
}

#contactContainer h3{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.contactMe{
    width: 650px;
    height: 30px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    padding-left: 10px;

}

.formInputs{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.formInputs label{
    margin-bottom: 10px;
}


textarea{
    width: 650px;
    border-radius: 5px;
    background-color: lightgray;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
}

#contactSubmit{
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#contactButton{
    margin: 20px;
    background-color: #B53324;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    border: none;
}

#contactButton:hover{
    box-shadow: 2px 2px black;
    cursor: pointer;
    background-color: #691D15;
}
/*End of Contact Page CSS*/



.fade-in{
    opacity: 0;
    transition: opacity 600ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

/*Mobile Nav CSS*/


@media only screen and (max-width: 600px) {

    html {
        scroll-padding-top: 80px;
        scroll-behavior: smooth;
    }
    
    /* GENERAL PAGE LAYOUT */
    body, html {
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }

    .heroSection, 
    #aboutMe, 
    #portfolio, 
    #resume, 
    #contact {
        padding: 20px;
        width: 100%;
        margin: 0px auto;
    }

    h1, h2, h3 {
        text-align: center;
    }

    p, li, a {
        font-size: 18px !important;
    }

    /* NAVIGATION BAR */
    #navBar {
        display: none; 
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    .dropdown.show {
        opacity: 1;
        visibility: visible;
    }

    .dropbtn {
        font-size: 20px;
        padding: 8px 12px;
        margin-right: 10px;
    }

    .dropdown-content {
        right: 0; 
        left: auto;
        width: 100%;
        text-align: right;
    }

    .dropdown-content li a {
        font-size: 16px;
        padding: 10px;
        color: #005799;
        margin-right: 15px;
    }

    /* HERO SECTION */
    .heroSection h1 {
        font-size: 32px;
        margin-top: 120px;
        text-align: center;
    }

    .heroSection ul {
        padding: 0;
        text-align: center;
    }

    .heroSection li a {
        font-size: 18px;
    }

    /* ABOUT ME / PORTFOLIO */
    #aboutMe{
        scroll-margin-top: 10px;
    }
    
    #portfolio{
        scroll-margin-top: 10px;
    }

    .showcase {
        flex-direction: column;
        gap: 10px;
    }

    .project {
        flex: 1 1 100%;
        padding: 10px;
    }

    .description h3 {
        font-size: 20px;
    }

    .description p {
        font-size: 16px;
    }

    .projectList li {
        width: auto;
        margin-left: 10px;
    }

    .projectList li:hover {
        font-size: 16px;
        margin-left: 20px;
        transform: scale(1.05);
    }

    .jobs {
    max-width: 95%;
    padding: 1rem;
    
    margin: 0 auto;
  }

  .jobs a {
    display: inline-block;
    word-break: break-word;
    text-align: center;
  }

  #resume{
    scroll-margin-top: 2px;
  }


    /* CONTACT SECTION */
    #contact{
        scroll-margin-top: -80px;
        min-height: 100svh;
    }
    #contactContainer {
        width: 90%;
        padding: 10px;
        margin: 80px auto;
    }

    .formInputs{
    margin-left: 0px;
}

    .contactMe,
    textarea {
        width: 100%;
        margin: 5px 0;
    }

    #contactButton {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        font-size: 16px;
    }
}



/*End of Mobile Nav CSS*/